[mysqld]
max_allowed_packet=100MB
log_warnings=0
innodb_flush_log_at_trx_commit=0
read_buffer_size=2G
read_rnd_buffer_size=2G
innodb_buffer_pool_size = 1G
innodb_log_file_size = 1G
innodb_log_files_in_group = 3
skip_innodb_doublewrite
character-set-server=utf8

[client]
default-character-set=utf8